<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>BLOG</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/estilo.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <div  style="width: 100%" id="contenedor">

            <!-- Navbar  -->
            <nav class="navbar navbar-expand-lg fixed-top ">
                <div class="container">
                    <img src="images/logo.png" alt=""/>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" th:href="@{tienda}"><i class="fa-solid fa-tiend me-2"></i>Tienda</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" th:href="@{/nosotros}"><i class="fa-solid fa-nosotro me-2"></i>Nosotros</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link " th:href="@{/blog}">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ">Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " th:href="@{/soporte}">Soporte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ">Ayuda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " th:href="@{/login}"><i class="fa-solid fa-logi me-2"></i>Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar  -->
            <center>
                <img src="images/wingsblog.png" class="img-fluid" alt="nem1"/>
            </center>
            <section >     
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-4">

                            <h2>--Blog Oficial--</h2>
                        </div>
                    </div>
                </div>
                <section >

                    <div class="container">

                        <div class="row">
                            <div class="col-md-4">
                                <img src="images/blog1.png" class="img-fluid" alt="nem1"/>

                            </div>
                            <div class="col-md-4">
                                <img src="images/blog2.png" class="img-fluid" alt="nem2"/>

                            </div>
                            <div class="col-md-4">
                                <img src="images/blog3.png" class="img-fluid" alt="nem3"/>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container-fluid">
                    <div class="content-center">
                        <h2 align="center">-----------Artículo-----------</h2>
                    </div>
                    <section >     
                        <div class="container">

                            <div class="row">
                                <div class="col-md-4">


                                </div>
                                <div class="col-md-5">
                                    <img src="images/blog1.png" class="img-fluid" alt="nem2"/>

                                </div>
                            </div>
                        </div>
                    </section >
                </div>

                <main>

                    <!-- Contiene un artículo -->
                    <article>
                        <h2>Como mezclar música para ser un Dj profesional</h2>

                        <p>
                            ¿Interesado en aprender los mejores trucos sobre cómo mezclar música? Llegaste al blog correcto. 
                        </p>
                        <p>

                            En los siguientes párrafos encontrarás la mejor información para convertirte en el alma de las fiestas y claro, no estamos hablando de robarte el show con tus pasos de baile, a lo que nos referimos es a que conocerás las mejores recomendaciones para ser un Dj profesional.

                            Sí leíste bien, te aseguramos que luego de leer este artículo conocerás los mejores trucos para poner la canción correcta en el momento ideal.

                            Para empezar, debes conocer qué es un DJ y las clases que hay en el mercado de las fiestas, eventos y música.
                        </p>
                        <p>

                            ¿Qué es un DJ?
                        </p>
                        <p>
                            Como dato curioso te contamos que el concepto de DJ nació en las radios ya que esta persona era la encargada de seleccionar y poner todo tipo de música en una emisora.

                            Con el tiempo, las tareas cambiaron y ya no solo se ponen música en alguna estación de radio, ahora, suenan sus tracks ante un grupo de personas, como un operador de discos. Sin embargo, un buen Dj no solo se limita a realizar esta acción.

                            ¿Interesado es saber sobre qué puedes llegar a hacer si te incursionar en el mudo de la música?

                            A continuación, te presentamos una serie características sobre los tipos de DJs que existen en la industria, no obstante, esta lista no es estricta ni cerrada ya que es posible que entre cada categoría se mezclan algunos roles dependiendo el estilo de cada uno.

                            Dentro del mundo DJ existen los diferentes tipos: residente, invitado, radio o móvil, puede que lo reconozcas con otro nombre, pero sus características son las siguientes:
                        </p>
                        <p>

                            Tipos de DJ
                        </p>
                        <p>
                            Invitado: Se reconocen principalmente por ser los encargados de poner música en eventos específicos, también por dar apertura a algún acontecimiento, promoción o ser teloneros.

                            Cuenta además con gran trayectoria gracias a su reputación, mezclas y lo que transmite detrás de la cabina, produciendo un efecto de lealtad y admiración en sus seguidores quienes usualmente siguen al artista a los lugares en los que se presente.
                        </p>
                        <p>

                            Residente: Este otro tipo se diferencia por presentarse en toques de forma regular o intermitente, son aquellos que son populares en lugares concurridos como bares, discotecas, clubes o diferentes lugares de entretenimiento.
                        </p>
                        <p>

                            Radio DJ: Es el encargado de reproducir las canciones o pistas musicales que anteriormente se organizaron en una lista de reproducción, esta distribución es aprobada y luego entregada directamente por los responsables de la cadena radial, conocido como ‘radio fórmula’.

                            Sin embargo, en medios menos tradicionales, emisoras comunitarias o universitarias, este cuenta con poder de crear su propia playlist según sus conocimientos en tendencias musicales y sobre todo, el tipo de audiencia con la que cuente.  

                            Otra de sus funciones es atender las llamadas de los oyentes, brindar las pautas comerciales o publicidad pagada y conducir el programa. (Estas funciones dependen del cargo que se tenga en el programa radial).
                        </p>
                        <p>

                            Móvil: y por último, pero no menos importante, se encuentra el encargado de llevar la ‘fiesta’ a todos lados ya que es muy común que a este tipo de artista, lo contraten en eventos privados.

                            Cuenta con las cualidades y capacidades de los anteriores DJ mencionados, además de llevar consigo un sistema de sonido portátil.

                            Es decir, sus equipos, de los que hablaremos más adelante y que además te presentaremos la mejor herramienta con la que te convertirás en un verdadero Dj profesional, el All In One de Wings.
                        </p>
                    </article>
                </main>
                <footer class="p-3 mb-2 bg-dark text-white" >  <p align="center"> &copy Derechos Reservados Lima-Perú-2022 </p>
                    <p align="center"><i class="fa-brands fa-facebook"></i>  <i class="fa-brands fa-instagram"> </i>  <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-whatsapp"></i></p> 
                </footer>
                <script src="js/jquery-3.6.0.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
                </body>
                </html>
